.modal-body,
.modal-backdrop
{
  background-color:#98AFC7;
}

body {
    background-color:#ECF0F4;
}

.navbar {
    background-color: black;
}


h1,
h5,
h6, 
div {
    font-family: 'ABeeZee';
}

$( ".selector" ).dialog({
  maxHeight: 600
});