body { 
  /*Original #212121, #FFF8DC, #677C84*/
  
  background-color: #344152;
  font-family:      Georgia, "Times New Roman", Times, serif;
  font-size:        small;
  margin:           15px;
  padding:          0px;
}
 


#main {
  background:       #fff;
  font-size:        105%;
  padding:          35px;
  border-color:     #000000; 
  border-width:     1px;
  border-style:     solid;
  height:           550px;
  width:			800px;
  margin: 			0 auto; 
}


.header{
  color: 			#fff;
  border:           1px solid #000; 
  background:       #617A99;
  width:			255px;
  height:    		20px;
  text-align:       center;
  padding-top:      2px;
}

#contact {
    text-align: center;
    clear: both;
    color: black;
}

.left{
     float:left; width:33%;

}

.content {
    height: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
}


#subTitle {
	display:inline-block;
	font-style: italic;
	margin-left: 10px;
	font-size: 11px;
}





p {
 margin:           5px;
 padding:          10px;
}

h1 {
  font-size: 130%;
  color: #2F2302;
  display: inline-block; 
}



a {
 margin-left:20px;
}

a:link {
  font-weight:bold;
  color: #000000;
  text-decoration:  underline;
}


a:visited {
  font-weight:bold;
  color:      #000000;
  text-decoration:  none;
  
}

a:hover {
text-decoration: underline; 
color: #383838;
}




