#mapcontainter {
  margin-top:30px;
  margin-left: -7px;
}


#mapcontainter #map {
	float: left;
	width: 600px;
	height: 450px;
}
	
#mapcontainter  ul {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#mapcontainter  ul li a	{
	display: block;
	padding: 10px;
	margin: 0 5px 5px; 
	background-color:#585858;
	color:#fff;
}
#mapcontainter  #message {
	position: absolute;
	padding: 10px;
	background: white;
	border: 2px black solid;
	border-radius: 10px;
	color: #000000;
}
#mapcontainter  #message a{
  color: #CC3232;
}