ol {
    list-style-type: none;
	position: relative;
}

ol li {
	background: #585858;
	border-radius: 5px;
	border: 1px solid #808080;
	margin: 3px;
	padding: 0.4em;
	font-size: 1em;
	height: 16px;
	font-family: Verdana, Arial, Sans-Serif;
	width: 250px;
}

#sortDiv{
  margin-left:150px;
  margin-top:100px;
}