body
{
  background-color:black;
}

#gallery {
	float: left;
	width: 120px;
	margin-right: 40px;
	margin-left: 190px;
	margin-top: 66px;
}
#gallery img {
	display: inline-block;
	margin: 0 0 15px 0;
	border: 1px solid rgb(0,0,0);
	
}
#photo {
	margin-left: 360px;	
	position: relative;
	margin-top: 67px;
}
#photo img {
	position: absolute;	
	z-index:-1;
}




