
body
{
 background:#344152;
 color:white;
 overflow-y: scroll; 

}

#main {
  background:       #fff;
  color: black;
  font-size:        105%;
  padding:          35px;
  border-color:     #000000; 
  border-width:     1px;
  border-style:     solid; 
  width:            800px;
  margin: 			0 auto;
}


#mainContent
{
  position:absolute;
  margin: 35px 35px 35px 205px;
  text-align:center;
  
}

.ddMenu {
	background:#0C090A; 
	padding:0px; 
	list-style-type:none; 
	height:30px;
	border: solid 1px grey;
    margin: 0 auto;
}

.code {
  background-color:#EEEEEE;
  padding: 10px;    
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}

.innerCode {   
  font-size:        90%;   
  padding-left: 20px;    
}

.ddMenu li {
    float:left; 
	height:30px; 	
}

.ddMenu li a {
	padding:9px 55px; 
	display:block; 
	color:#fff; 
	text-decoration:none; 
	font:12px arial, verdana, sans-serif; 
	font-weight: bold;
	
}

.ddMenu li:hover a {
	text-decoration:underline;
}

.ddMenu ul {
	position:absolute; 
	left:-9999px; 
	top:-9999px; 
	list-style-type:none;
}

.ddMenu li:hover {
	position:relative; 
	background:grey;
	
}

.ddMenu li:hover ul {
	left:0px; 
	top:30px; 
	background:lavender; 
	padding:3px; 
	border:1px solid grey;
    z-index: 10;	
}

.ddMenu li:hover ul li {
	height:18px; 
	border:none;
}

.ddMenu li:hover ul li a {
	height:18px; 
	padding:0px; 
	display:block; 
	font-size:11px; 
	width:200px; 
	line-height:18px; 
	text-indent:5px; 
	color:#000; 
	background-color:lavender; 
	text-decoration:none; 
	border:1px solid transparent;
}

.ddMenu li:hover ul li a:hover {
	height:18px; 
	background:silver; 
	color:#000; 
	border:solid 1px #444;
}









