body {margin:0px; padding:0px; font: 1.0em verdana, arial, sans-serif; background-color: #FFFDED;}

#content img {border: 2px solid #820010;}

#container {position:relative; min-width:800px; max-width:1000px; margin-left:auto; margin-right:auto; background-color:#FFFDED;}

#header {height:60px; text-align:center; margin-top:0; padding-top:12px;}

#header h1 {width:18em; margin-top:0; margin-right:auto; margin-left:auto; font: 1.5em bold "comic sans MS", arial, sans-serif;  text-align:center;padding:0 0 .1em; border-top:1px solid #C60; border-bottom:1px solid #C60;}

#nav {position:absolute; left:0px; top:75px; width:150px; padding:.5em 0 0 0; margin:22px 0 0 5px;}

#nav ul {margin-top:0; margin-bottom:.8em;}

#nav li {margin-bottom:.5em; font-weight:bold; font-size:.75em;}	
		
#content {margin:20px 150px 0 165px; padding: 0 1em;}

#content h1{font-size:1em;}

#content p {font-size:.8em;}	

#content li {font-size:.75em;}

.caption p {
	font-size:.65em !important; 
	margin:0px 0px;
	}

#content blockquote {width: 250 px; float:right; font-size:.7em; border-top: 2px dotted #960; border-bottom: 2px dotted #960; margin:0 100px; padding: 6px 10px;}

#rightcolumn {font-size:.8em; font-style:italic; position:absolute; width:150px; top:75px; right:0px;margin:30px 20px 0 0; padding:1em 1.5em; border-top:1px solid #C60; border-bottom:1px solid #C60;}

#rightcolumn p {font-size:.75em;}

#nav ul {border:0; margin:12px 20px 12px 1.25em; padding:0; list-style-type:none;}

#nav li {border-bottom:1px dotted #000000; margin:0; padding:.3em 0; text-indent:.5em}

#nav li:first-child {border-top:1px dotted #000000;}

#nav a {text-decoration:none; color:#000000;}

#nav a:hover {color:#C98300;}

* html div#nav ul{border-top:1px dotted #069;}

#footer {width:100%; 
padding:4px 0; 
font-size:.9em;
text-align:center;
background-color:#DC9000;
border-top:1px solid #000000;
border-bottom:1px solid #000000;
border-right:1px solid #000000;
border-left:1px solid #000000;
}

#footer ul {margin:2px 2px;}

#footer li {
display:inline; 
color:white; 
border-left:1px solid; 
color:#000000; 
padding: 1px 5px 2px ;
}


#footer li: first-child {border-left:0; }

#footer ul li a  {text-decoration:none; color:#000000;}

#footer ul li a:hover {text-decoration:underline; color:#000000;}


#fineprint  {
padding:0px 0px 10px; 
color:#000000;
font-size:.6em;
text-align:center;

}

#fineprint a  {text-decoration:none; color:#000000;}

#fineprint a:hover {text-decoration:underline; color:#000000;}


