@charset "UTF-8";
/* CSS Document */

html, body {margin:0; width:100%;}

p, ul, li {margin:0; padding:0}

html {background-color:#002b52}

body {
	background:url(/resources/images/bkgrdRepeater.jpg) repeat-x top left;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:14px;
	color:#cacdce;
	}

.clear {
height:1px;
clear:both;
}

.bkgrdMain {
width:100%;
background:url(../images/bkgrd_main.jpg) no-repeat top center;
min-height:790px
}

.bottom {
width:100%;
background:url(/resources/images/floor.png) repeat-x bottom left;
padding-bottom:50px;
	}
	
.wrapper {
width:1025px;
margin:0 auto;
	}

.headerMain, .contentMain {
width:100%;
float:left;
clear:left;
	}

.headerMain {padding-top:10px; position:relative; z-index:100}

.logo span {display:none}
.logo {
display:block;
float:left;
height:142px;
width:379px;
background:url(../images/logo.png) no-repeat;
}

.headerMain ul {
float:right;
width:325px;
margin:0 30px 0 0;
list-style:none
}

.headerMain ul li {
float:right;
clear:right;
height:21px;
line-height:21px;
vertical-align:middle;
color:#ffffff;
width:100%;
text-align:right;	
margin-bottom:2px;
}

.headerMain ul li.selected {
background:url(/resources/images/navON.png) no-repeat top right;
}

.headerMain ul li a {
display:block;
background:url(../images/nav.png) no-repeat top right;
height:100%;
margin-right:45px;
width:223px;
float:right;
}

.headerMain ul li a span {display:none}

.headerMain ul li.home a {
background-position:-221px 1px;	
}
.headerMain ul li.home a:hover, .header ul li.home.selected a {
background-position:left 1px;	
}

.headerMain ul li.who-we-are a {
background-position:-221px -19px;
}
.headerMain ul li.who-we-are a:hover, .header ul li.who-we-are.selected a {
background-position:left -19px;
}

.headerMain ul li.how-it-works a {
background-position:-221px -40px;	
}
.headerMain ul li.how-it-works a:hover, .header ul li.how-it-works.selected a  {
background-position:left -40px;	
}

.headerMain ul li.courses a {
background-position:-221px -61px
}
.headerMain ul li.courses a:hover, .header ul li.courses.selected a {
background-position:left -61px
}     

.headerMain ul li.partners a {
background-position:-221px -82px;	
}
.headerMain ul li.partners a:hover, .header ul li.partners.selected a {
background-position:left -82px;	
}

.headerMain ul li.science-nodes a {
background-position:-221px -123px;	
}
.headerMain ul li.science-nodes a:hover, .header ul li.science-nodes.selected a {
background-position:left -123px;	
}

.headerMain ul li.blue-eyes™-live-webcams a {
background-position:-221px -123px;	
}
.headerMain ul li.blue-eyes™-live-webcams a:hover, .header ul li.science-nodes.selected a {
background-position:left -123px;	
}

/*footer*/
.footer ul {
margin:0 auto;
list-style:none;
padding-top:100px;
width:470px
}

.footer ul li {
float:left;
margin-right:15px;
}

.footer ul li.last {
margin-right:0
}

.footer ul li.second-row {
margin-left: 117px;
}

.footer a, .footer p {
color:#cfd1d2 !important;
font-size:11px !important;
text-decoration:none !important;
}

.footer p {
clear:left;
width:100%;
text-align:center;
padding-top:10px;
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/*content*/
.contentMain {
min-height:700px;
width:936px;
background:url(/resources/images/top_content.png) no-repeat top left;
margin:20px 0 0 15px;
position:relative;
}

.contentMain .middle {
background:url(/resources/images/content_bkgrd.png) repeat-x 0 192px;
padding:20px;
min-height:500px
}

.contentMain .b {
background:url(/resources/images/b_content.png) no-repeat top left;
height:29px;
width:100%;
}

.contentMain .upperImg {
position:absolute;
}

.How-It-Works .contentMain .upperImg {
background:url(/resources/images/upperImg_whoWeAre.png) no-repeat;
width:650px;
height:206px;
top:-20px; 
right:-15px;
}

.Who-We-Are .contentMain .upperImg {
background:url(/resources/images/upperImg_howItWorks.png) no-repeat;
width:302px;
height:310px;
top:-20px; 
right:-15px;
}

.Courses .contentMain .upperImg {
background:url(/resources/images/upperImg_scienceNodes.png) no-repeat;
width:302px;
height:310px;
right:50px;
top:-90px;
}

.Blue-Eyes™-live-webcams .contentMain .upperImg {
background:url(/resources/images/upperImg_courses.png) no-repeat;
width:350px;
height:310px;
right:-25px;
top:-40px;
}

.Blue-Eyes-test .contentMain .upperImg {
background:url(/resources/images/upperImg_courses.png) no-repeat;
width:350px;
height:310px;
right:-25px;
top:-40px;
}

.Partners .contentMain .upperImg {
background:url(/resources/images/upperImg_partners.png) no-repeat;
width:458px;
height:282px;
top:-90px; 
right:-40px;
}

.Register .contentMain .upperImg {
background:url(/resources/images/bkgrd_register.png) no-repeat;
height:221px;
left:80px;
top:200px;
width:311px;
}

.Registration .contentMain .upperImg {
background:url(/resources/images/bkgrd_register.png) no-repeat;
height:221px;
width:311px;
top:-50px; 
right:0px;
}

h2 {
font-family: 'Patrick Hand', cursive;
color:#ffffff;
font-size:40px;
margin:15px 0 0 15px;
padding:0;
font-weight: normal;
}

.Register h2 {
visibility:hidden
}

/*scroller*/
.mainImage {
width:963px;
height:447px;
background:url(/resources/images/bkgrd_scroller.png) no-repeat;
float:left;
clear:left;
margin:10px 0 0 0;
overflow:hidden;
}

.crop {
width:963px;
position:relative;
height:447px;
}

.content ul.pictures {position:relative; margin-left: 0px;}

ul.pictures li {
float:left;
width:963px;
list-style:none;
position:absolute;
top:0;
left:0
}

ul.counter {
bottom:60px;
left:760px;
position:absolute;
z-index:10000;
list-style:none;
}

ul.counter li {
float:left;
margin-left:10px;
width:10px;
height:10px;
background:url(/resources/images/icn_circle.png) no-repeat top left;
}

ul.counter li.on {
background-position:bottom left;
}

ul.pictures li .overlay {
float:right;
height:100%;
width:250px;
position:absolute;
top:0;
right:0;
background:url(/resources/images/scrollerOverlay.png) no-repeat;
}

ul.pictures li .overlay h3 {
font-family: 'Patrick Hand', cursive;
color:#20dcf1;
font-size:28px;
width:90%;
margin:50px 0 0 15px;
font-weight: normal;
}

ul.pictures li .overlay p {
color:#ffffff;
font-size:12px;
width:85%;
margin:10px auto 0 auto;
}

/*home page lower content section*/
.lowerContent {
width:100%;
clear:left;
position:relative;
background:url(/resources/images/bkgrd_shark.png) no-repeat 430px 230px;
}

.testimonial {
float:left;
width:235px;
height:475px;
background:url(/resources/images/bkgrd_testimonial.png);
position:absolute;
top:-50px;
left:10px;
z-index:20;
}

.widget.region.testimonial {
background:none;
}

.home .left, .home .right {
float:left;
width:459px;
margin:22px 0 0 210px;
position:relative;
}

.home .left .turtle {
left:20px;
position:absolute;
top:-37px;
}
	
.home .right {
width:320px;
margin:0px 0 0 15px;
background:url(/resources/images/bkgrd_divers.png) no-repeat top right;
}

.home .left .t, .home .right .t {
background:url(/resources/images/t_homeLeft.png) no-repeat top left;
height:16px;
width:100%;
}

.home .right .t {
background:url(/resources/images/t_homeRight.png) no-repeat top left;	
}

.home .left .b, .home .right .b {
width:100%;
background:url(/resources/images/b_homeLeft.png) no-repeat;
height:14px;
}

.home .right .b {
background:url(/resources/images/b_homeRight.png) no-repeat;	
}

.home .left .center, .home .right .center {
width:379px;
background:url(/resources/images/bkgrd_homeContent.png) repeat-x top left;
padding:0px 30px 0 50px;
}

.home .right .center {
padding:10px;
width:268px;
min-height:400px;
position:relative;
}
.home .right .inner {
width:288px;
margin-top:22px;
position:relative;
}

.home .right a.anchor {
display:block;
position:absolute;
top:0;
left:0;
width:288px;
height:445px;
background-color:transparent;
z-index:10000;
}

.home h4 {
margin:0;
padding:0 0 10px 0;
color:#ffffff;
font-size:20px;
}

.home h4 p {
font-family: 'Patrick Hand', cursive;
font-size:27px;
padding:0;
margin:0;
font-weight: normal;
}

.home h4.top {
padding:15px 0 0 150px;	
}

.home .right h4 {
margin-top:20px;
}

.content.topparagraph p, .content.bottomparagraph p {margin:0;}

.home .right h4 div {float:left}
.home .right h4 div.first {margin:0 0 0 20px;}
.home .right h4 div.second {clear:left; margin:10px 0 0 50px}
.home .right h4 div.third {
color:#20DCF1;
left:170px;
margin:0 0 0 10px;
position:absolute;
top:55px;
}
.home .right .modify h4 div.third {
position:static;
}

.home .right h4 p {margin:0; padding:0; font-size:40px}
.home .right h4 .third p {font-size:58px;}


.home .right h5 {
width:230px;
color:#20dcf1;
margin:20px 0 20px 50px;
clear:left;
font-size:18px;
float:left;
}

.home .right h5 p {
font-family: 'Patrick Hand', cursive;
padding:0;
margin:0;
font-size:24px;
font-weight: normal;
}

.home .right h5 cufon {
margin-bottom:5px;	
}

.home p {
line-height:20px;
padding-bottom:25px;
font-size:13px;
}

.home .center .top p {
margin-top:10px	
}

.home .right p {
width:234px;
margin-left:20px;
line-height:24px;
clear:left
}

.content.testimonialtext p {
color:#FFFFFF;
float:left;
font-size:12px;
line-height:18px;
margin:10px 0 0 15px;
padding:0;
width:190px;
}

.testimonial img {
float:left;
margin:85px 0 0 20px;
}

a.register {
background:url(/resources/images/btn_register.png) no-repeat scroll 0 0 transparent;
display:block;
height:135px;
position:absolute;
right:-10px;
width:173px;
cursor:pointer
}

.home a.register {
bottom:-20px;
}

.Courses a.register {
right:690px;
top:-6px;
}

.Who-We-Are a.register {
position:static;
}

a.register span {display:none}


.content h3 {
font-family:'Patrick Hand',cursive;
font-weight:normal;
font-size:20px; 
color:#ffffff; 
margin:35px 0 10px 10px;
}

.Register .content h3 {
color:#8AE8F9;
font-size:20px;
margin:165px 0 10px 230px;
}
.content p {margin:10px 0 10px 10px; font-size:13px}

.content ul { margin-left: 25px; font-size: 13px;}

/*for cms*/
.widget.region.main.modify.ui-sortable {position:relative}

/*formatted content elements*/
.twoColumn, .oneColumn {
width:100%;
float:left;
position:relative;
}

.oneColumn, .Who-We-Are .left {
width:98%;
}

.Who-We-Are .left {float:left; margin-left:8px}

.twoColumn .left {
float:left;
width:555px;
padding-top:10px;
}

.twoColumn .right, .Who-We-Are .right {
float:right;
width:320px;
padding-top:60px;
}

.oneColumn .topinner {
width:555px;
}

.How-It-Works .oneColumn .topinner, .Courses .oneColumn .topinner {
width:100%
}

.Partners .topinner {
width:610px;
padding:15px 0 7px 0;
}

.Courses .topinner, .Courses .bottominner {float:left; clear:left}

.Science-Nodes .topinner {
width:585px;
}

.bottominner ul {
margin-left:25px;
}

.Courses .bottominner p {
color:#8ae8f9;
}

.region.main a {
color:#8ae8f9;
text-decoration:none
}

.region.main a:hover {
text-decoration:underline
}

/*bio custom element*/
.bio {
width:100%;
float:left;
clear:left;
padding-top:30px
}

.bioImage {
float:left;
width:150px;
height:200px;
overflow:hidden;
border:5px solid #ffffff;
margin-left:5px;
margin-top:10px;
clear:left;
border-bottom:20px solid #ffffff
}

.bioText {
float:left;
margin-left:10px;
width:670px;
}

.bioParagraph, .bio h3  {
clear:left;
float:left;
width:100%;
}

.bio h3, .bio h3 p {
color:#8ae8f9;
font-size:24px;
}

.bio h3 sup {
font-size: 10px;
}

.bio h3 {
margin:5px 0;
font-family: 'Patrick Hand', cursive;
font-weight: normal;
}

.bioParagraph p {
margin:0 0 25px 10px;
line-height:20px
}

.bioParagraph ul{
margin-left:20px;
}

.Science-Nodes p {
margin:25px 0 0 10px;
line-height:20px;
width:98%
}

.Who-We-Are .sortable.widget.contentelement.modify {
width:100%;
float:left;
clear:left
}

.Who-We-Are .widget.region.modify.ui-sortable {
z-index:1000;
position:relative;
}

.How-It-Works .oneColumn h2 {
color:#20dcf1;
font-size:26px;
margin:35px 0 5px 10px;
}

.How-It-Works .oneColumn {
padding-top:15px;
}

ul.quickLinks {
font-size:12px; position:absolute; margin-left:25px; right:0;
}

ul.quickLinks li{
padding-bottom:10px;
}

ul.quickLinks ul {
margin-left:15px;
font-size:10px;
}

ul.quickLinks ul li {
padding-bottom:0
}

.Courses .bottominner h2, .Courses .topinner h2 {
font-size:22px;
color:#20dcf1
}

.Courses .bottominner h3 a {color:#ffffff;}
.Courses .bottominner a:hover {text-decoration:none}
.Courses .bottominner {width:520px; font-size:12px;}

.Register .content p {
font-size:16px;
margin:10px 0 0 250px;
padding:10px;
text-align:center;
width:450px;
}
.Register .content p span {
color:#ffffff;
font-weight:bold
}

.contactInfo {
clear:left;
float:left;
font-size:12px;
margin-top:10px;
padding:10px;
width:915px;
background:url(/resources/images/content_bkgrd.png) repeat-x;
-moz-border-radius:20px;
border-radius:20px;
text-align:center
}

.home .contactInfo {
-moz-border-radius:10px;
border-radius:10px;
width:952px;
}

.contactInfo p {
padding:0;
margin:0;
}

.contactInfo p.first {
font-weight:bold;
color:#8AE8F9;
}

.contactInfo a {
color:#CACDCE
}

/*.sideImage {
background:url(/Resources/images/bkgrd_sideCourses.png) no-repeat;
bottom:0;
height:1669px;
position:absolute;
right:-37px;
width:453px;
}*/

/*homepage edit bar styling*/
.widget.region.scroller.modify.ui-sortable, .home .widget.modify.region .widget.modify .header  {
float:left;
}

.widget.modify.region .widget.modify .header span.title {font-size:12px;}

.moodlecourses{display:none}

   #register
   {
       margin:20px 10px;
   }
   #register li
   {
       list-style:none;
       display:block;
       clear:left;
       padding:15px 5px;
   }
   #register li label
   {
       float:left;
       width:140px;
   }
   #register li input[type=text], #register li select
   {
       float:left;
   }
   #register li.cert select
   {
       width:auto;
   }
   #register li p, #register li label
   {
       font-weight:none;
       padding-bottom: 5px;
   }
   #register li label.error
   {
    color: #FF0000;
    float: none;
    font-size: 11px;
    margin-left: 10px;
    width: auto;
   } 

/*partners custom element*/
.partners-list {
width:100%;
float:left;
clear:left;
padding-top:30px
}

.partnersImage {
float:left;
width:160px;
overflow:hidden;
margin-left:5px;
margin-top:10px;
clear:left;
}

.partnersText {
float:left;
margin-left:20px;
width:600px;
}

.partnersParagraph, .partners-list h3  {
clear:left;
float:left;
width:100%;
}

.partners-list h3, .partners-list h3 p {
color:#8ae8f9;
font-size:20px;
}

.partners-list h3 {
margin:5px 0;
}

.partnersname h3{
font-family: 'Patrick Hand',cursive;
font-weight: normal;
}

.partnersParagraph p {
margin:0 0 0 0;
line-height:20px
}

.partnersParagraph ul{
margin-left:20px;
}

.registration-confirmation{
margin: 20px;
line-height: 20px;
}

.registration-confirmation.top{
margin-top: 35px;
}

.AuthorizeNetSeal{
margin: -100px 20px 0px !important;
float: right;
}


.testimonial .testimonialimage2 img{
margin-top: 18px;
}


.leftHome, .middleHome, .rightHome{
float: left;
display: block;
width: 300px;
height: 310px;
margin: 20px 0 15px 20px;
}

.leftHome .leftHead, .middleHome .middleHead, .rightHome .rightHead{
width: 277px;
margin: 20px 0 10px;
}

.leftText, .middleText, .rightText{
width: 277px;
margin: -15px 0;
}

.bottom-section{
width: 970px;
background: url("/resources/images/content_bkgrd.png") repeat-x scroll 0 0 transparent;
border-radius: 20px 20px 20px 20px;
display: block;
height: 340px;
margin-top: 30px;
}

.contactInfo2 {
clear:left;
float:left;
font-size:12px;
margin-top:10px;
padding:10px;
width:915px;
text-align:center
background:url(/resources/images/content_bkgrd.png) repeat-x 0 0;
-moz-border-radius:20px;
border-radius:20px;
display:block;
}

.home .contactInfo2{
border-radius: 10px 10px 10px 10px;
width: 952px;
}

.contactInfo2 p {
margin: 0;
padding: 0;
}

.contactInfo2 p.first {
color: #8AE8F9;
font-weight: bold;
}

.contactInfo2 a {
color: #CACDCE;
}

.scroller .missionstatement p{
color: #81f3ff;
font-size: 21px;
font-family: serif;
width: 690px;
text-align: center;
float: right;
margin: 20px 70px -10px 0;
display: block;
line-height: 30px;
}

.update .testimonial{
background:url(/resources/images/bkgrd_testimonial2.png);
height: 520px;
}

.home .update .left .center{
background:url(/resources/images/bkgrd_homeContent.png) repeat top left;
height:420px;
}

.update .content.topparagraph p, .update .content.bottomparagraph p{
line-height: 24px;
width: 368px;
}


.update .content.topparagraphtitle{
padding-top:20px;
margin-bottom: 15px;
width: 270px;
}

.update .content.topparagraphtitle p{
font-size:26px;
text-align: right;
line-height: 30px;
}

.home .update h4.top {
padding:15px 0 0 110px;	
}

.leftHome .leftHead a, .middleHome .middleHead a, .rightHome .rightHead a{
color:#20DCF1;
text-decoration: none;
}

.leftHome .leftHead a sup{
font-size: 10px;
}

.Blue-Eyes™ .contentMain h2 sup{
font-size:12px;
}

/* D3 Containers */
.mapContainer, .graphContainer {
	width: 925px;
	height: 540px;
	margin-top:150px;
	border: 1px solid white;
	
}

.chart div{
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

